@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@font-face {
  font-family: "Geogrotesque Compressed";
  src: local("../font/Geogrotesque Compressed Cond Semibold"),
    local("../font/Geogrotesque-Compressed-Cond-Semibold"),
    url("../font/GeogrotesqueCond-SmBd.woff2") format("woff2"),
    url("../font/GeogrotesqueCond-SmBd.woff") format("woff"),
    url("../font/GeogrotesqueCond-SmBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #d47755;
  font-family: "Geogrotesque Compressed", "Source Sans Pro", Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* Sections Layout */
header,
#main-container,
#about-container,
#contact-container,
#footer-container,
#author-container {
  max-width: 1280px;
  margin: 0 auto;
}

/* heading and logo */

header {
  overflow: hidden;
}
h1 {
  text-transform: uppercase;
  line-height: 43px;
  color: #fafafa;
}

#logo {
  float: left;
  font-size: 140%;
  margin-top: 10px;
  width: 45%;
  padding: 10px 5%;
}

#menu,
#logo {
  line-height: 75px;
  color: #fafafa;
}

#menu {
  font-size: 110%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#menu ul {
  float: right;
}
#menu li {
  float: left;
  list-style: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid white;
}

.active {
  border-bottom: 1px solid #fafafa;
}

/* main  image and text */

#main-outer {
  width: 100%;
  color: #fafafa;
  overflow: hidden;
}

#main-container {
  overflow: hidden;
}

#main-image-container,
#main-text {
  width: 50%;
}
#main-text {
  float: right;
  margin: 15% auto;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
}
#author-title {
  font-size: 130%;
}

#main-image-container {
  float: left;
  padding: 5%;
}

#main-image-container img {
  border: 3px solid #fafafa;
  width: 85%;
}

#main-text p {
  width: 100%;
  letter-spacing: 1px;
  font-size: 120%;
}
#main-text p a {
  color: inherit;
  text-decoration: underline;
}

.action-button {
  margin: 30px auto;
  display: block;
  width: 50%;
  padding: 10px;
  border: 2px solid #fafafa;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Geogrotesque Compressed", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.action-button:hover {
  background: #fff;
  color: #d47755;
  transition: 0.5s ease-in;
}
.action-button:focus {
  border: 4px solid #fafafa;
}

#action-button-text {
  font-size: 110%;
}

#main-text span {
  font-size: 80%;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  float: left;
}
/* for medium screen sizes from 768px px wide and down */
@media screen and (max-width: 768px) {
  #logo {
    width: 100%;
  }
  #menu {
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  #menu li {
    margin-left: 20px;
  }

  #main-text {
    margin: 15% 0;
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
  }

  #main-image-container {
    width: 100%;
  }
}

/*  About the book */

#about {
  background-color: #fafafa;
  height: 900px;
}

#about-container {
  color: #2a2a2a;
  overflow: hidden;
  height: 100%;
  padding: 6% 3%;
}

#about-container > h2 {
  font-size: 240%;
  text-transform: uppercase;
}
#about-text {
  line-height: 30px;
  width: 45%;
  margin: 20px 0;
}

#about-text > p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  float: left;
  letter-spacing: normal;
  font-size: 130%;
  margin: 10px 0;
  text-align: justify;
}

#about-text p:nth-child(1) {
  font-size: 160%;
  font-weight: bold;
}

#about-text p:nth-child(5) {
  font-weight: bold;
}

/* for medium screen sizes from 1024px px wide and down */
@media screen and (max-width: 1024px) {
  #about {
    height: auto;
  }
  #about-container > h2 {
    font-size: 220%;
    margin-left: 5%;
  }

  #about-text {
    line-height: 30px;
    width: 90%;
    margin: 40px auto;
  }
  #about-text > p {
    font-size: 100%;
  }
  #about-text p:nth-child(1) {
    font-size: 140%;
    font-weight: bold;
  }

  #about-text p:nth-child(5) {
    font-weight: bold;
  }
}

/*  contact */

#contact {
  height: 900px;
  background: url("../images/book_cover_picture.png") no-repeat center center;
  background-size: cover;
  padding: 3%;
}

#contact-container {
  color: #2a2a2a;
  overflow: hidden;
  color: #fafafa;
}

#contact-container form h2 {
  font-size: 240%;
  text-transform: uppercase;
  text-align: center;
}

#contact form {
  padding: 3%;
  letter-spacing: 1px;
  max-width: 500px;
  margin: 40px auto;
  background-color: RGBA(212, 119, 85, 0.9);
}

.text-input,
.form-textarea {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 35px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  font-size: 120%;
  padding-left: 5px;
  outline: none;
}
.form-textarea {
  padding-top: 5px;
  overflow: hidden;
  min-height: 200px;
}

.text-input:focus,
.form-textarea:focus {
  border: 3px solid #fafafa;
}
.form-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #f16c6b;
  color: #fafafa;
  display: block;
}

.form-button:hover {
  background-color: #fafafa;
  color: #f16c6b;
}

/* footer */

#footer-container {
  color: #fafafa;
  padding: 3%;
  height: 150px;
  margin: 0 auto;
}

#footer-links {
  text-align: center;
}

#footer-links a {
  color: #fafafa;
  margin-left: 20px;
  font-size: 110%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#footer-links a:hover {
  border-bottom: 1px solid white;
}

.footer-media {
  text-align: center;
}

.footer-media > li {
  display: inline;
}

.footer-media i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #fafafa;
}

/* for medium screen sizes from 768px px wide and down */
@media screen and (max-width: 768px) {
  #footer-links a {
    margin: 15px 0;
    display: block;
  }
  #footer-links a:hover {
    margin: 15px 0;
    border-bottom: none;
  }
}

/* about the author page */

#author-about {
  width: 100%;
  background-color: #fafafa;
  height: 900px;
}
#author-container {
  padding: 5%;
  overflow: hidden;
}

#author-text {
  width: 60%;
}
#author-image-container {
  width: 30%;
}
#author-text {
  float: right;
  font-family: "Source Sans Pro", sans-serif;
  padding: 5px;
  line-height: 30px;
  margin: 60px auto;
}
#author-title {
  font-size: 130%;
}

#author-image-container {
  float: left;
  padding: 0%;
}

#author-image-container img {
  border: 3px solid #fafafa;
  width: 100%;
  max-width: 300px;
}

#author-text p {
  width: 100%;
  letter-spacing: 1px;
  font-size: 120%;
}

/* for medium screen sizes from 768px px wide and down */
@media screen and (max-width: 1024px) {
  #author-about {
    height: auto;
  }

  #author-text {
    margin: 15% 0;
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
  }

  #author-image-container {
    width: 100%;
  }
}

/*  fadein animation */

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
