@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@font-face {
  font-family: "Geogrotesque Compressed";
  src: local("../font/Geogrotesque Compressed Cond Semibold"),
    local("../font/Geogrotesque-Compressed-Cond-Semibold"),
    url("../font/GeogrotesqueCond-SmBd.woff2") format("woff2"),
    url("../font/GeogrotesqueCond-SmBd.woff") format("woff"),
    url("../font/GeogrotesqueCond-SmBd.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #d47755;
  font-family: Geogrotesque Compressed, Source Sans Pro, Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* Sections Layout */
header,
#main-container,
#about-container,
#contact-container {
  max-width: 1280px;
  margin: 0 auto;
}

/* heading and logo */

h1 {
  text-transform: uppercase;
  line-height: 43px;
  color: #fafafa;
}

#logo {
  float: left;
  font-size: 140%;
  margin-top: 20px;
  margin-left: 20px;
  width: 35%;
}
#menu,
#logo {
  line-height: 75px;
  color: #fafafa;
}

#menu {
  font-size: 110%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#menu ul {
  float: right;
}
#menu li {
  float: left;
  list-style: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid white;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* main  image and text */

#main-outer {
  width: 100%;
  color: #fafafa;
  overflow: hidden;
}

#main-container {
  overflow: hidden;
}

#main-image-container,
#main-text {
  width: 50%;
}
#main-text {
  float: right;
  margin: 15% auto;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
}

#main-image-container {
  float: left;
  padding: 5%;
}

#main-image-container img {
  border: 3px solid #fafafa;
  width: 85%;
}

#main-text p {
  width: 100%;
  letter-spacing: 1px;
  font-size: 120%;
}
#main-text p a {
  color: inherit;
  text-decoration: underline;
}

#action-button {
  margin: 30px auto;
  display: block;
  width: 50%;
  padding: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  font-family: Geogrotesque Compressed, Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

#action-button:hover {
  background: #fff;
  color: #d47755;
  transition: 0.5s ease-in;
}

#main-text span {
  font-size: 80%;
  letter-spacing: 1px;
  font-family: "Source Sans Pro", sans-serif;
  float: left;
}
/* for medium screen sizes from 768px px wide and down */
@media screen and (max-width: 768px) {
  #logo {
    width: 100%;
  }
  #main-text {
    margin: 15% 0;
    font-family: sans-serif;
    width: 100%;
  }

  #main-image-container {
    width: 100%;
  }
}

/*  About the book */

#about {
  background-color: #fafafa;
  height: 900px;
}

#about-container {
  padding: 3%;
  color: #2a2a2a;
  overflow: hidden;
}

#about-container > h2 {
  font-size: 240%;
  text-transform: uppercase;
}
#about-text {
  line-height: 30px;
  width: 45%;
  margin: 40px 0;
}

#about-text > p {
  font-family: Source Sans Pro, sans-serif;
  font-weight: normal;
  float: left;
  letter-spacing: normal;
  font-size: 130%;
  margin: 10px 0;
  text-align: justify;
}

#about-text p:nth-child(1) {
  font-size: 160%;
  font-weight: bold;
}

#about-text p:nth-child(5) {
  font-weight: bold;
}

/* for medium screen sizes from 1024px px wide and down */
@media screen and (max-width: 1024px) {
  #about-container > h2 {
    font-size: 220%;
    margin-left: 5%;
  }

  #about-text {
    line-height: 30px;
    width: 90%;
    margin: 40px auto;
  }
  #about-text > p {
    font-size: 100%;
  }
  #about-text p:nth-child(1) {
    font-size: 140%;
    font-weight: bold;
  }

  #about-text p:nth-child(5) {
    font-weight: bold;
  }
}

